.container {
  position: absolute;
  z-index: 1;
  background-color: #FF4FA4;
  border: 5px solid white;
  border-radius: 50%;
  bottom: -27px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
}

.container svg {
  width: 100%;
}
