.container, .main {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.container {
  z-index: 1;
}

.container a:link, .container a:visited {
  color: white;
}

.main {
  margin-bottom: 80px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.app > * {
  width: 100%;
}

.header {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-purple);
  padding: 50px;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header img {
  object-fit: cover !important;
}

.header h1 {
  font-size: 56px;
}

.header p {
  font-size: 24px;
}

.header h1, .header p {
  text-align: center;
  color: white;
}

.headerNav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main {
  margin-top: 20px;
  flex: 1 1 100%;
}
