/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-purple: #BE69FF;
  --color-dark-purple: #8142B0;
  --color-blue: #82C8F5;
  --color-green: #3CD28C;
  --color-yellow: #FFD250;
  --color-red: #FF695F;
  --color-black: #1E1E1E;
  --color-grey: #5B5B5B;
  --color-beige: #EDEDE5;
  --color-light-beige: #F6F6F0;
  --color-cream: #FFFFF5;
  --color-foreground: var(--color-black);
  --color-foreground-light: var(--color-cream);
  --color-background: var(--color-cream);
  --font-body: proxima-nova, -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
}

body,
input,
textarea {
  font-family: var(--font-body);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-links);
  text-decoration: underline;
}

a:hover {
  color: var(--color-links-hover);
}

button {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 24px 64px;
  background-color: var(--color-green);
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-foreground);
  font-weight: bold;
  transition: color 0.3s, background 0.3s;
  border: none;
}
button:hover,
button:focus {
}
