/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-purple: #BE69FF;
  --color-dark-purple: #8142B0;
  --color-blue: #82C8F5;
  --color-green: #3CD28C;
  --color-yellow: #FFD250;
  --color-red: #FF695F;
  --color-black: #1E1E1E;
  --color-grey: #5B5B5B;
  --color-beige: #EDEDE5;
  --color-light-beige: #F6F6F0;
  --color-cream: #FFFFF5;
  --color-foreground: var(--color-black);
  --color-foreground-light: var(--color-cream);
  --color-background: var(--color-cream);
  --font-body: proxima-nova, -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
}

body,
input,
textarea, .mantine-NativeSelect-input {
  font-family: var(--font-body);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-links);
  text-decoration: underline;
}

a:hover {
  color: var(--color-links-hover);
}

button {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 24px 64px;
  background-color: var(--color-green);
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-foreground);
  font-weight: bold;
  transition: color 0.3s, background 0.3s;
  border: none;
}
button:hover,
button:focus {
}

/* Prevent dropdowns from having weird styling because of its internal input element */
input.searchBox:disabled {
  display: none
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  display: none;
}

@media screen and (max-width: 1064px) {
  .bm-burger-button {
    display: block;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--color-cream);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--color-beige);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--color-cream);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--color-black);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--color-cream);
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
