/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-foreground: #252525;
  --color-background: hsl(0, 0%, 100%);
  --color-links: var(--color-purple);
  --color-links-hover: var(--color-blue);

  --color-purple: #3a1b7b;
  --color-medium-purple: #C5B6D5;
  --color-light-purple: #ebe7f1;
  --color-blue: #184fbd;
  --color-grey: #656781;
  --color-base-grey: #ECEEF4;
  --color-light-grey: #F7F8FA;
  --font-body: proxima-nova, -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
}

body,
input,
textarea {
  font-family: var(--font-body);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-links);
  text-decoration: underline;
}

a:hover {
  color: var(--color-links-hover);
}

button {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 24px 64px;
  background-color: #ff4fa4;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  cursor: pointer;
  color: #2b193c;
  font-weight: bold;
  transition: color 0.3s, background 0.3s;
  border: none;
}
button:hover,
button:focus {
  color: white;
  background-color: var(--color-purple);
}
