.link {
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 50px;
  padding: 24px 64px;
  background-color: var(--color-green);
  text-align: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-foreground);
  font-weight: normal;
  transition: color 0.3s, background 0.3s;
  border: none;
}

.header, .p {
  text-align: center;
}
