.event {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  flex: 1;
  position: relative;
}

.date {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  background-color: var(--color-blue);
  color: var(--color-foreground);
}

.date span {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.img {
  width: 400px;
  height: 265px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-light-beige);
}

.content time {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.content h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: black;
  margin: 4px 0 0;
}

.content p {
  font-size: 14px;
  line-height: 24px;
  margin: 4px 0 15px;
}

.imgContainer {
  position: relative;
  width: 400px;
  height: 265px;
  background-color: var(--color-beige);
}

.content a:link,
.content a:visited {
  margin-right: auto;
}

.eventLink:link, .eventLink:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  background-color: var(--color-green);
  color: var(--color-foreground);
  border-radius: 50px;
  text-decoration: none;
  width: 100%;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  gap: 8px;
  padding: 0;
}

.readMore, .readMore:hover, .readMore:focus {
  border: none;
  padding: 0;
  margin: 0;
  color: var(--color-dark-purple);
  text-decoration: underline;
  background-color: transparent;
  text-align: start;
}

.tagList__item {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: var(--color-beige);
  color: var(--color-foreground);
  border-radius: 100px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
}
